:root{
    --base-color: #3a72bc;
    --base-color-light: #c3d4ea;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.margin-tb {
    margin-top: 3px;
    margin-bottom: 3px;
} 

.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
 }
 
.base-color {
    background-color: var(--base-color) !important;
    border-color: var(--base-color) !important;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
	border: 0;
	background-clip: padding-box;
}
    
.modal-header {
    background:var(--base-color);
    color: white;
}
.sidebar-footer {
    clear: left;
    background: var(--base-color);
    text-align: right;
    font-size: 17px;
    color: white;
    padding: 10px;
    height: 1%;
    margin-top: 20px;
}

.list-group-item.active, .list-group-item.active:hover {
  background-color: var(--base-color-light)  !important;
  border-color: var(--base-color)  !important;
}

.card-collapse {
    /* clear: left; */
    background: var(--base-color);
    font-size: 17px;
    color: white;
    padding: 10px;
    height: 1%;
}

.badge-right{
    background: white;
    color: var(--base-color);
    float:right;
    /* text-align: right; */
}