<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.13/leaflet.draw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment-with-locales.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="//cdn.rawgit.com/ScanEx/Leaflet.imageTransform/b236ca1c/src/L.ImageTransform.js"></script>
<script src="static/js/jquery-sidebar.js"></script>
<script src="static/js/leaflet.groupedlayercontrol.min.js"></script>
<script src="static/js/classes.js"></script>
<script type="text/javascript">
    var host_url = '{{ host_url }}';
    var providers = {{ providers }};
    var wrs = {{ wrs }};
</script>
<script src="static/js/base.js"></script>